body {
  background-color: darkgreen;
  color: white;
  font-family: "Inconsolata", monospace;
}

input {
  width: 30px;
  text-align: center;
  border: solid black 1px;
}

button {
  border-radius: 5px;
  padding: 10px;
}

.cards {
  /* display: inline-block; */
  background-color: white;
  border-radius: 2px;
  color: black;
  width: 5vw;
  height: 10vh;
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}
